.commercial__wrapper {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.commercial__intro {
  width: 543px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.commercial__title {
  font-family: "Inter-semibold";
  font-size: var(--fs-h2);
  line-height: var(--lh-xxxx-lg);
  color: var(--clr-primary);
  text-align: center;
}
.commercial__description {
  margin: 48px 0;
}

.commercial__comment {
  font-family: "Inter-regular";
  font-size: var(--fs-lg);
  line-height: var(--lh-xxx-lg);
  color: var(--clr-primary-lt);
  text-align: center;
}

.commercial__users {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.commercial__item {
  width: 264px;
  padding-top: 24px;
  display: flex;
  border-top: 4px solid var(--bg-primary);
}

.commercial__item:hover {
  cursor: default;
  border-top: 4px solid var(--clr-primary);
}

.commercial__logo-user {
  margin: 0 16px;
}

.commercial__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.commercial__name {
  margin-bottom: 8px;
  font-family: "Inter-semibold";
  font-size: var(--fs-md);
  line-height: var(--lh-md);
  color: var(--clr-primary-lt);
}

.commercial__role {
  font-family: "Inter-regular";
  font-size: var(--fs-md);
  line-height: var(--lh-md);
  color: var(--clr-primary-lt);
}

.commercial__info-download {
  width: 100%;
  height: 224px;
  margin-top: 100px;
  background-color: var(--clr-secondary-dk);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commercial__text {
  width: 423px;
  margin-left: 80px;
  font-family: "Inter-semibold";
  font-size: var(--fs-xx-lg);
  line-height: var(--lh-xxxx-lg);
  color: var(--clr-white);
}

.commercial__download-container {
  width: 383px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
