.header--wrapper {
  margin: 44px 0px 100px 0px;
}

.header__bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__bg-img {
  margin: auto auto;;
  position: absolute;
  top:0;
  z-index: -99;
}

.header__nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__brand a {
  font-family: "Josefin Sans-regular";
  font-size: var(--big-x);
  line-height: 24px;
  color: #1d2830;
  text-decoration: none;
}

.navbar__brand span {
  color: var(--text-btn-color);
}

.navbar__body{
  width: 459px;
  margin-left: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  padding: 16px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item:hover {
  background-color: #ece6ff;
  border-radius: 4px;

}

.nav__login,
.nav__item a{
  font-family: "Inter-regular";
  font-size: var(--small-xx);
  line-height: 24px;
  color: var(--primary-color);
  text-decoration: none;
}

.nav__item img {
  margin-left: 4px;
}

.navbar__auth {
  display: flex;
  align-items: center;
}

.nav__free {
  margin-left: 16px;
  padding: 16px 24px;
  background: #ece6ff;
  text-decoration: none;
}






