.mitigation__wrapper {
  padding: 100px 0 20px 0;
}

.mitigation__title {
  margin-bottom: 56px;
  text-align: center;
}

.mitigation__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mitigation__item {
  width: 316px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.mitigation__item:nth-child(2) {
  flex-basis: 230px;
}

.mitigation__item:nth-child(5) {
  flex-basis: 231px;
}

.mitigation__holder {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.mitigation__sub-title {
  margin: 24px 0 8px 0;
  font-family: "Inter-semibold";
  font-size: var(--small-x);
  line-height: 18px;
  color: var(--primary-color);
}

.mitigation__description {
  font-family: "Inter-regular";
  font-size: var(--small-xx);
  line-height: 24px;
  color: var(--secondary-color);
}

.mitigation__holder--first {
  background-color: #fef6ee;
}

.mitigation__holder--second {
  background-color: #e8fafa;
}

.mitigation__holder--third {
  background-color: #f7ebf9;
}

.mitigation__holder--fourth {
  background-color: #ffeff3;
}

.mitigation__holder--fifth {
  background-color: #ede8f7;
}

.mitigation__holder--sixth {
  background-color: #fef5ec;
}


