.widget {
  border: 1px dashed var(--clr-white-lt);
}

.widget__wrapper {
  padding: 61px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget__notification {
  width: 657px;
  height: 518px;
  position: relative;
}

.widget__notification:hover {
  cursor: default;
}

.widget__tag-name {
  color: var(--clr-blue-dk);
}

.widget__item {
  padding: 26px 32px 26px 24px;
  border-left: 8px solid transparent;
  border-bottom: 1px solid var(--clr-white-lt);
}

.widget__item:last-child {
  border-bottom: none;
}

.widget__item:hover {
  border-left: 8px solid var(--clr-secondary-dk);
  border-bottom: 1px solid var(--bg-primary);
  border-radius: 0 8px 8px 0;
  background-color: var(--clr-secondary-ltst);
  cursor: default;
}

.widget__solution-name {
  margin-bottom: 10px;
  font-family: "Inter-semibold";
  font-size: var(--fs-h3);
  line-height: 18px;
  color: var(--clr-primary);
}

.widget-description {
  width: 308px;
  font-family: "Inter-regular";
  font-size: var(--fs-md);
  line-height: 24px;
  color: var(--clr-primary-lt);
}

