.widget {
  border: 1px dashed #f0ebfa;
}

.widget__wrapper {
  padding: 61px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget__notification {
  width: 657px;
  height: 518px;
  position: relative;
}

.widget__notification:hover {
  cursor: default;
}

.widget__tag-name {
  color: #3b7ff6;
}

.widget__item {
  padding: 26px 32px 26px 24px;
  border-left: 8px solid transparent;
  border-bottom: 1px solid #f0ebfa;
}

.widget__item:last-child {
  border-bottom: none;
}

.widget__item:hover {
  border-left: 8px solid var(--third-background-color);
  border-bottom: 1px solid transparent;;
  border-radius: 0 8px 8px 0;
  background-color: #f6f3fc;
  cursor: default;
}

.widget__solution-name {
  margin-bottom: 10px;
  font-family: "Inter-semibold";
  font-size: var(--small-x);
  line-height: 18px;
  color: var(--primary-color);
}

.widget-description {
  width: 308px;
  font-family: "Inter-regular";
  font-size: var(--small-xx);
  line-height: 24px;
  color: var(--secondary-color);
}

