.btn {
  color: var(--secondary-color);
  border: 3px solid var(--dynamic-color);
  background-color: var(--dynamic-color);
  text-transform: uppercase;
  font-weight: var(--fw-bolder);
}

.btn:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--secondary-color);
  color: var(--dynamic-color);
}

.btn--hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--secondary-color);
  color: var(--dynamic-color);
  border: none;
  padding: 14px 23px;
}

.btn--nav {
  font-size: var(--fs-xm);
  padding: 3px 11px;
}


.btn--banner {
  background-color: var(--secondary-color);
  color: var(--dynamic-color);
  border: 3px solid var(--secondary-color);
}

/* Portrait tablets and large phones (Small devices) */
@media only screen and (min-width: 320px) {
  .btn--banner {
    padding: 5px 0px;
    width: 65px;
    font-size: 6px;
  }

  .btn--form {
    padding: 14px 22px;
  }
}

/* Landscape tablets (Medium devices) */
@media only screen and (min-width: 576px) {
  .btn__box {
    display: flex;
    justify-content: space-between;
  }

  .btn--intro {
    width: 143px;
    height: auto;
    padding: 9px 0;
  }

  .btn--banner {
    padding: 12px 24px;
    width: 25%;
    font-size: var(--fs-lg);
  }

  .btn--form {
    padding: 9px 22px;
  }
}

/* Laptops/desktops (Large devices) */
@media only screen and (min-width: 1200px) {
  .btn--nav {
    font-size: 1.063rem;
    padding: 5px 20px;
  }

  .btn--intro {
    width: 200px;
    padding: 15px 0;
    font-size: var(--fs-hd-4);
    line-height: var(--lh-xl);
  }

  .btn--banner {
    width: 22%;
    font-size: var(--fs-hd-4);
    line-height: var(--lh-xl);
  }

  .btn--form {
    padding: 18px 35px;
    font-size: var(--fs-hd-4);
    line-height: var(--lh-xl);
  }

  .btn--planning {
    padding: 19px 33px;
    font-size: var(--fs-hd-4);
    line-height: var(--lh-xl);
  }
}
