.cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
}

/* Portrait tablets and large phones (Small devices) */
@media only screen and (min-width: 320px) {

}

/* Landscape tablets (Medium devices) */
@media only screen and (min-width: 576px) {

}

/* Laptops/desktops (Large devices) */
@media only screen and (min-width: 1200px) {

}
