.heading {
  font-family: var(--font-primary);
  color: var(----primary-color);
  font-weight: var(--fw-bolder);
  line-height: 3.25rem;
}

.heading--white {
  color: var(--secondary-color);
}

.heading--center {
  text-align: center;
}

/* Portrait tablets and large phones (Small devices) */
@media only screen and (min-width: 320px) {
  .heading--mb {
    margin-bottom: 21px;
  }

  .heading--banner {
    font-size: 1.4rem;
  }

  .heading--another {
    margin-bottom: 16px;
    font-size: 1.625rem;
    line-height: var(--lh-hd-03);
  }

  .heading--card {
    line-height: var(--lh-hd-04);
    font-size: var(--fs-hd-3);
  }

  .heading--brand {
    width: 230px;
  }

  .heading--planning {
    font-size: var(--fs-hd-1);
    line-height: var(--lh-hd-01);
    margin-bottom: 28px;
  }

}

/* Landscape tablets (Medium devices) */
@media only screen and (min-width: 576px) {
  .heading--banner {
    font-size: 2.375rem;
  }

  .heading--mb {
    margin-bottom: 41px;
  }

  .heading--another {
    font-size: var(--fs-hd-3);
  }

  .heading--form {
    width: 470px;
  }

  .heading--brand {
    width: 245px;
  }

  .heading--planning {
    margin-bottom: 46px;
  }
}

/* Laptops/desktops (Large devices) */
@media only screen and (min-width: 1200px) {
  .heading--banner {
    font-size: 3.75rem;
    line-height: 5rem;
  }

  .heading--another {
    font-size: 3rem;
    line-height: var(--lh-hd-01);
    margin-bottom: 50px;
  }

  .heading--form {
    width: 810px;
  }

  .heading--brand {
    width: 420px;
  }

  .heading--planning {
    font-size: 3.75rem;
    line-height: 5rem;
  }
}
