.heading {
  font-family: var(--font-primary);
  color: var(----primary-color);
  font-weight: var(--fw-bolder);
  line-height: 3.25rem;
}

.heading--white {
  color: var(--secondary-color);
  font-size: 1.4rem;
}

/* Portrait tablets and large phones (Small devices) */
@media only screen and (min-width: 320px) {
  .heading--mb {
    margin-bottom: 21px;
  }

  .heading-card {
    line-height: var(--lh-hd-04);
    font-size: var(--fs-hd-3);
  }

}

/* Landscape tablets (Medium devices) */
@media only screen and (min-width: 576px) {

}

/* Laptops/desktops (Large devices) */
@media only screen and (min-width: 1200px) {

}
