.main-content {
  background-repeat: no-repeat;
  background-size: 100%;
}

@media only screen and (min-width: 320px) {
  .main-content {
    background-image: url(../../images/background-mobile.png);
  }
}

@media only screen and (min-width: 576px) {
  .main-content {
    background-image: url(../../images/background-tablet.png);
  }
}

@media only screen and (min-width: 1200px) {
  .main-content {
    background-image: url(../../images/background-pc.png);
  }
}
