* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  display: flex;
  flex-direction: column;
}

p {
  font-family: var(--font-secondary);
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}
