:root {
  /* Color */
  --primary-color: #35414b;
  --secondary-color: #4e5a65;
  --white-color: #ffffff;
  --nav-btn-color: #794cff;
  --brand-color: #1d2830;

  /* Background-color */
  --primary-background-color: transparent;
  --secondary-background-color: #fbfafe;
  --third-background-color: #794cff;
  --white-background-color: #ffffff;
  --dark-background-color: #1d2830;
  --header-hover-bg: #ece6ff;

  /* Font-large */
  --big-xxx: 64px;
  --big-xx: 40px;
  --big-x: 24px;
  --small-x: 18px;
  --small-xx: 16px;
  --small-xxx: 13px;
  --small-xxxx: 11px;

  /* Border */
  --box-outline: 1px solid #e1e5ea;
}

