.btn {
  font-family: "Inter-medium";
  font-size: var(--small-xx);
  line-height: 16px;
  border-radius: 4px;
  color: var(--white-color);
}

.btn--small-xxx {
  font-size: var(--small-xxx);
  line-height: 13px;
}

.btn--data {
  padding: 18px 21px;
  background-color: #796eff;
  border: none;
}
