.header--wrapper {
  margin: 44px 0px 100px 0px;
}

.header__bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__bg-img {
  margin: auto auto;
  position: absolute;
  top: 0;
  z-index: -99;
}

.navbar {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__brand .brand__name {
  font-family: "Josefin Sans-regular";
  font-size: var(--big-x);
  line-height: 24px;
  color: var(--brand-color);
  text-decoration: none;
}

.navbar__brand .brand__dot {
  color: var(--nav-btn-color);
}

.navbar__body {
  margin-left: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item:hover {
  background: var(--header-hover-bg);
  border-radius: 4px;
  cursor: pointer;
}

.nav__item--primary {
  padding: 16px;
}

.nav__link {
  font-family: "Inter-medium";
  font-size: var(--small-xx);
  line-height: 16px;
  color: var(--primary-color);
  text-decoration: none;
}

.nav__item:hover .nav__link {
  color: var(--nav-btn-color);
}

.icon-arrow--down {
  margin-left: 4px;
}

.navbar__auth {
  display: flex;
  align-items: center;
}

.nav__item--secondary {
  padding: 16px 24px;
}
