.widget__chatbox {
  padding: 32px;
  position: absolute;
  bottom: -8px;
  right: -16px;
  border: var(--box-outline);
  border-radius: 4px;
  background-color: var(--white-background-color);
}

.widget__user {
  display: flex;
}

.widget__image {
  margin-right: 10px;
}

.widget__role {
  font-family: "Inter-regular";
  font-size: var(--small-xxxx);
  line-height: 11px;
  color: var(--secondary-color);
}

.widget__textarea {
  margin: 16px 0;
  padding: 16px 37px 119px 16px;
  border: 1px solid #e1e5ea;
  border-radius: 4px;
}

.widget__typing {
  width: 246px;
  font-family: "Inter-regular";
  font-size: var(--small-xxx);
  line-height: 20px;
  color: var(--secondary-color);
}

.widget__submit {
  display: flex;
  flex-direction: row-reverse;
}

.widget__send-btn {
  padding: 14px 29px 15px;
  background: #3b7ff6;
  border: none;
}
