.widget__timeline {
  width: 330px;
  height: 435px;
  padding: 32px 31px 0 32px;
  border: var(--box-outline);
  border-radius: 4px;
  background-color: var(--white-background-color);
}

.widget__title {
  margin-bottom: 32px;
  font-family: "Inter-medium";
  font-size: var(--small-xx);
  line-height: 16px;
  color: var(--secondary-color);
}

.widget__message-sets--first {
  margin-bottom: 8px;
}

.widget__status {
  display: flex;
}

.widget__icon {
  width: 29px;
  height: 29px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icon--message-bg {
  background: #fdf8e8;
}
.icon--date-bg {
  background: #e5f8ed;
}

.widget__name {
  margin-bottom: 4px;
  font-family: "Inter-medium";
  font-size: var(--small-xxx);
  line-height: 13px;
  color: var(--secondary-color);
}

.widget__time-sent {
  font-family: "Inter-regular";
  font-size: var(--small-xxxx);
  line-height: 11px;
  color: var(--secondary-color);
}

.widget__message-container {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.widget__message-container--first {
  height: 255px;
}

.widget__message-container--second {
  height: 42px;
}

.widget__vertical-line {
  margin: 0 30px 0 15px;
  border: 0.5px solid #e1e5ea;
}

.widget__vertical-line--first {
  height: 255px;
}

.widget__vertical-line--second {
  height: 42px;
}

.widget__message-box {
  margin-top: 7px;
}

.widget__message-item {
  margin-bottom: 16px;
  padding: 16px;
  border: var(--border);
  border-radius: 4px;
}

.widget__message-item--text {
  font-family: "Inter-regular";
  font-size: var(--small-xxx);
  line-height: 16px;
  color: var(--secondary-color);
}

.widget__last-meeting {
  padding: 16px 16px 11px 16px;
  border: 1px solid #e1e5ea;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}
