.intro__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro__discount {
  display: flex;
}

.intro__save {
  padding: 8px 16px;
  font-family: "Inter-medium";
  font-size: var(--small);
  line-height: 16px;
  color: var(--white-color);
  background-color: #81c43b;
  border-radius: 100px;
}

.intro__get-account {
  display: flex;
  position: relative;
  left: -32px;
  z-index: -1;
  padding: 8px 0px;
  width: 209px;
  background: #f2f9eb;
  border-radius: 0px 100px 100px 0px;
}

.intro__get-account p {
  padding: 0 4.64px 0 40px;
  font-family: "Inter-regular";
  font-size: var(--small);
  line-height: 16px;
  color: var(--primary-color);
}

.intro__title {
  width: 766px;
  font-family: "Inter-bold";
  font-size: var(--huge);
  color: var(--primary-color);
  line-height: 72px;
  text-align: center;
}

.intro__description {
  width: 506px;
  font-family: "Inter-regular";
  font-size: var(--small);
  line-height: 150%;
  text-align: center;
  color: var(--secondary-color);
}

.intro__email {
  font-family: "Inter-regular";
  font-size: var(--small);
  line-height: 16px;
  padding: 18px 24px;
  width: 272px;
  background: #ffffff;
  border: var(--border);
  border-radius: 4px 0px 0px 4px;
  color: #97a5b5;
}

.intro__submit {
  font-family: "Inter-medium";
  position: relative;
  left: -7px;
  height: 58px;
  padding: 18px 45px;
  background: var(--purple-color);
  border: 1px solid var(--purple-color);
  border-radius: 0px 4px 4px 0px;
  font-size: var(--small);
  line-height: 16px;
  color: var(--white-color);
}

.intro__main-image img{
    width: 920px;
    height: 654.29px;
    margin: 48px 0 100.71px 0;
    box-shadow: 0px 0px 48px -8px rgba(29, 40, 48, 0.18);
}

.intro__believed-team {
    width: 100%;
    margin-bottom: 100.89px;
}

.intro__believed-text {
    font-family: "Inter-regular";
    font-size: var(--small);
    line-height: 16px;
    text-align: center;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 27px;
}

.intro__believed-text span {
    font-weight: 900;
}

.intro__believed-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
