.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

/* Portrait tablets and large phones (Small devices) */
@media only screen and (min-width: 320px) {
  .header {
    padding-top: 15px;
    padding-bottom: 22px;
  }
}

/* Landscape tablets (Medium devices) */
@media only screen and (min-width: 576px) {
  .header {
    padding: 23px 0;
  }
}

/* Laptops/desktops (Large devices) */
@media only screen and (min-width: 1200px) {

}
