.form {
  width: 100%;
}

.form__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form__email {
  outline: none;
  border: 1px solid #9F9F9F;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

.form__email,
.form__email::placeholder {
  font-family: var(--font-secondary);
  font-weight: var(--fw-lighter);
  color: var(--primary-color);
}

.form__confirm {
  visibility: visible;
  margin: 7px 0;
  color: var(--dynamic-color);
  font-weight: var(--fw-lighter);
  font-size: var(--fs-md);
  line-height: var(--lh-sm);
}

/* Portrait tablets and large phones (Small devices) */
@media only screen and (min-width: 320px) {
  .form {
    padding-top: 40px;
  }

  .form__box {
    flex-direction: column;
  }

  .form__email {
    padding: 13px 15px;
  }
}

/* Landscape tablets (Medium devices) */
@media only screen and (min-width: 576px) {
  .form {
    padding: 20px 0px;
  }

  .form__box {
    flex-direction: row;
    align-items: flex-start;
  }

  .form__input {
    width: 275px;
    margin-right: 17px;
    align-items: flex-start;
  }

  .form__confirm {
    margin-left: 18px;
  }
}

/* Laptops/desktops (Large devices) */
@media only screen and (min-width: 1200px) {
  .form {
    padding-top: 50px;
  }

  .form__input {
    width: 450px;
  }

  .form__email {
    padding: 19px 30px;
  }

  .form__email,
  .form__email::placeholder,
  .form__confirm {
    font-size: var(--fs-hd-4);
    line-height: var(--lh-xl);
  }

  .form__confirm {
    margin-top: 20px;
  }
}
