.intro {
  width: 100%;
}

.intro__content {
  width: 100%;
}

.intro__desc {
  color: var(--secondary-color);
  font-weight: var(--fw-lighter);
}

.intro__holder {
  width: 100%;
  height: auto;
}

.intro__sub--collapse {
  display: none;
}

.intro__box {
  background-image: url(../../../images/header.png);
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Portrait tablets and large phones (Small devices) */
@media only screen and (min-width: 320px) {
  .intro {
    padding-top: 62px;
  }

  .intro__box {
    background-size: 100% auto;
    aspect-ratio: 1.78/1;
  }

  .intro__heading {
    position: relative;
  }

  .intro__title {
    position: absolute;
    width: 284px;
    font-size: var(--fs-hd-2);
    line-height: var(--lh-hd-02);
    top: -49px;
  }

  .intro__sub {
    margin: 16px 0;
    display: none;
  }

  .intro__sub--collapse {
    display: block;
  }

  .intro__desc {
    font-size: var(--fs-md);
    line-height: var(--lh-md);
    margin-bottom: 16px;
  }
}

/* Landscape tablets (Medium devices) */
@media only screen and (min-width: 576px) {
  .intro {
    padding: 0;
  }

  .intro__content {
    padding: 0;
  }

  .intro__title {
    width: 100%;
    position: static;
    font-size: 2.375rem;
  }

  .intro__box {
    background-size: 68%;
    aspect-ratio: 1.98/1;
    box-shadow: none;
    background-position-x: right;
    background-position-y: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .intro__sub {
    display: block;
  }

  .intro__sub--collapse {
    display: none;
  }
}

/* Laptops/desktops (Large devices) */
@media only screen and (min-width: 1200px) {
  .intro__content {
    padding: 0 140px;
    padding-top: 35px;
  }

  .intro__box {
    background-size: 62%;
    aspect-ratio: 2.06/1;
  }

  .intro__title {
    font-size: 3.688rem;
    line-height: 4.438rem;
  }

  .intro__sub {
    margin: 23px 0;
  }

  .intro__desc {
    margin-bottom: 35px;
    font-size: 1.188rem;
    line-height: var(--lh-xl);
  }
}
