.planning {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dynamic-color);
}

/* Portrait tablets and large phones (Small devices) */
@media only screen and (min-width: 320px) {
  .planning {
    margin-top: 40px;
    padding: 50px 0;
  }
}

/* Landscape tablets (Medium devices) */
@media only screen and (min-width: 576px) {
  .planning {
    padding: 59px 0;
  }
}

/* Laptops/desktops (Large devices) */
@media only screen and (min-width: 1200px) {
  .planning {
    padding: 100px 0;
  }
}

