.primary-background {
  background-color: var(--primary-background-color);
}

.secondary-background {
  background: var(--secondary-background-color);
}

.dark-background {
  background-color: var(--dark-background-color);
}

.widget__tag-name {
  color: #3b7ff6;
}


